/* General */
:root {
    --header-bg: #2C3E50;
    --white: #ffffff;
    --jumbotron-bg: #31BC9B;
    --btn-hover: #157760;
    --black: #000000;
    --light-magenta: #BA4B63;
    --footer-top: #3A546D;
    --footer-bottom: #2C3F51;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: var(--white);
}

a, 
a:hover, 
a:active, 
a:focus {
    text-decoration: none;
    color: var(--jumbotron-bg);
}

/* Header */
header.my_header {
    background-color: var(--header-bg);
    text-transform: uppercase;
    height: 60px;
}

header.my_header h1 {
    font-size: 1.5em;
}

header .header_right {
    text-align: right;
    color: var(--white);
}

header .header_right ul {
    list-style-type: none;
    margin: 0;
}

header .header_right li {
    display: inline-block;
}

/* Main */
main {
    margin-top: 60px;
}

.jumbotron,
.about {
    background-color: var(--jumbotron-bg);
}

.jumbotron-contain img {
    width: 20%;
}

.star::before,
.star::after {
    content: '';
    width: 7%;
    height: 2px;
    display: inline-block;
    background-color: var(--white);
    vertical-align: middle;
}

.portfolio .star::before,
.portfolio .star::after,
.contact-me .star::before,
.contact-me .star::after {
    background-color: var(--black);
}

.title,
.desc {
    text-transform: uppercase;
}

.jumbotron-contain .desc {
    font-size: 1.3em;
    font-weight: 300;
}

/* Portfolio */
.portfolio,
.contact-me {
    color: var(--black);
}

.portfolio img {
    width: 100%;
    border-radius: 10px;
}

/* About */

/* Contact me */
.my_form.form-control {
    border: 0;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
}

.my_form:hover {
    font-size: 1.2em;
}

.my_btn {
    background-color: var(--jumbotron-bg);
    color: var(--white);
}

.my_btn:hover {
    background-color: var(--btn-hover);
    color: var(--white);
}

/* Footer */
footer .footer-top {
    background-color: var(--footer-top);
}

footer .footer-top h3 {
    text-transform: uppercase;
}

.footer-top .my_icon {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    border: 1px solid var(--white);
    vertical-align: middle;
}

.footer-top .fab {
    line-height: 35px;
}

footer .footer-bottom {
    background-color: var(--footer-bottom);
}

@media screen and (max-width: 768px) {
    header.my_header h1{
        font-size: 1.3em;
    }

    header.my_header li {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 578px) {
    .jumbotron-contain .jumbo-desc {
        font-size: 1.2em;
    }
}