/* General */
:root {
    --header-bg: #2C3E50;
    --white: #ffffff;
    --jumbotron-bg: #31BC9B;
    --black: #000000;
    --light-magenta: #BA4B63;
    --footer-top: #3A546D;
    --footer-bottom: #2C3F51;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: var(--white);
}

/* Header */
header.my_header {
    background-color: var(--header-bg);
    text-transform: uppercase;
    height: 60px;
}

header.my_header h1 {
    font-size: 1.5em;
}

header .header_right {
    text-align: right;
    color: var(--white);
}

header .header_right ul {
    list-style-type: none;
    margin: 0;
}

header .header_right li {
    display: inline-block;
}

@media screen and (max-width: 768px) {
    header.my_header h1{
        font-size: 1.3em;
    }

    header.my_header li {
        font-size: 0.8em;
    }
}

/* Main */
main {
    margin-top: 60px;
}

.jumbotron,
.about {
    background-color: var(--jumbotron-bg);
}

.title > * {
    background-color: var(--black);
    height: 50px;
}

.jumbotron-contain img {
    width: 20%;
}

.jumbotron-contain .jumbo-title,
.jumbotron-contain .jumbo-desc {
    text-transform: uppercase;
}

.jumbotron-contain .jumbo-desc {
    font-size: 1.3em;
    font-weight: 300;
}

/* Portfolio */
.thumbnail .thumb-image {
    height: 200px;
    background-color: var(--light-magenta);
}

.download > * {
    background-color: var(--black);
    height: 30px;
}

/* About */
.about-content-text {
    height: 150px;
    background-color: var(--white);
}

/* Contact me */
.form > * {
    background-color: var(--light-magenta);
    height: 300px;
}

/* Footer */
footer .footer-top {
    background-color: var(--footer-top);
}

footer .footer-bottom {
    background-color: var(--footer-bottom);
}


footer .footer-text {
    height: 150px;
    background-color: var(--white);
}

footer .footer-bottom-text {
    height: 20px;
    background-color: var(--white);
}