:root {
    --header-bg: #2C3E50;
    --white: #ffffff;
    --jumbotron-bg: #31BC9B;
    --black: #000000;
    --light-magenta: #BA4B63;
}

html {
    font-size: 100%;
}

header.my_header {
    background-color: var(--header-bg);
}

header .header_left {
    background-color: var(--white);
}

header .header_right {
    text-align: right;
    text-transform: uppercase;
    color: var(--white);
}

header .header_right ul {
    list-style-type: none;
    margin: 0;
}

header .header_right li {
    display: inline-block;
}

header .header_right .hamburger_menu {
    display: none;
}

@media screen and (max-width: 768px) {
    header .header_right ul {
        display: none;
    }

    header .header_right .hamburger_menu {
        display: inline-block;
    }
}

.jumbotron {
    background-color: var(--jumbotron-bg);
}

.jumbotron-contain > * {
    height: 300px;
    background-color: var(--white);
}

.portfolio .title > * {
    background-color: var(--black);
    height: 50px;
}

.thumbnail .thumb-image {
    height: 200px;
    background-color: var(--light-magenta);
}